$breakpoints: (
  xxs: 20rem,
  // ~320px
  xs: 32rem,
  // ~512px
  sm: 48rem,
  // ~768px
  md: 64rem,
  // ~1024px
  lg: 80rem,
  // ~1280px
  xl: 90rem // ~1440px
) !default;

@mixin breakpoint($breakpoint, $logic: false) {
  @if ($logic) {
    @media #{$logic} and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  }
}

@mixin p {
  font-family: var(--font-primary);
  font-size: 100%;
  line-height: calc(var(--font-size) * 1.5);
  font-weight: 400;
  color: var(--body-color);
}
