:root {
  /** typography */
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --size-xxxs: 0.25rem;
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-s: 0.88rem;
  --size-default: 1rem;
  --size-sm: 1.25rem;
  --size-md: 1.5rem;
  --size-lg: 2rem;
  --size-xl: 2.5rem;
  --size-xxl: 4rem;

  /* Width */
  --w-18: 18rem;
  --w-14: 14rem;

  /* padding */
  --padding-xxxs: 0.25rem;
  --padding-xxs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-s: 0.88rem;
  --padding-default: 1rem;
  --padding-sm: 1.25rem;
  --padding-md: 1.5rem;
  --padding-lg: 2rem;
  --padding-xl: 2.5rem;
  --padding-xxl: 4rem;

  /* margin */
  --margin-xxxs: 0.25rem;
  --margin-xxs: 0.5rem;
  --margin-xs: 0.75rem;
  --margin-s: 0.88rem;
  --margin-default: 1rem;
  --margin-sm: 1.25rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
  --margin-xl: 2.5rem;
  --margin-xxl: 4rem;

  /* animations */
  --modal-transition-duration: 0.2s;

  /* Colors */
  --body-color: #212529;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --blue: #1991ff;

  /* Borders*/
  --border-color: #dee2e6;

  /* Borders radius*/
  --radius-4: 0.25rem;
  --radius-6: 0.38rem;
  --radius-8: 0.5rem;

  /* Shadow */
  --shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  --shadow-focus: 0 0 0 0.25rem rgb(13 110 253 / 25%);

  /* Grids */
  --gutter-lg: 1.25rem;
}
