@import 'variables';
@import 'mixins';
@import 'reset';

body {
  @include p;
}

p {
  @include p;
  margin-bottom: 1.2rem;
}

.main {
  display: flex;
  height: 100vh;

  .sidebar {
    position: absolute;
    left: calc(var(--w-18) * -1);
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--w-18);
    transition: all 0.4s ease-in-out;
    border-right: 1px solid var(--gray-200);
    z-index: 1000;
    background-color: var(--white);

    &--active {
      left: 0;
    }

    &__logo {
      padding: var(--padding-sm);

      img {
        max-width: 8rem;
      }
    }

    &__menu {
      padding: var(--padding-sm);
      font-size: var(--size-sm);
    }

    &__inner {
      flex-grow: 1;
    }

    &.sidebar--active {
      & + .main__content {
        margin-left: var(--w-18);
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__close {
      display: none;
      align-items: center;
      justify-content: center;
      width: var(--size-lg);
      height: var(--size-lg);
      padding: 0;
      border-radius: 50%;
      box-shadow: var(--shadow);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-left: 0;
    transition: all 0.4s ease-in-out;
  }

  &__wrapper {
    flex-grow: 1;
    padding: var(--padding-md) var(--padding-sm);
    background-color: var(--gray-100);

    .dropdown {
      flex: 100%;
    }
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gutter-lg);
    row-gap: var(--gutter-lg);
  }
}

.navbar {
  padding: var(--padding-sm);
  border-bottom: 1px solid var(--gray-200);

  &__heading {
    display: flex;
    align-items: center;
    font-size: var(--size-sm);
    font-weight: 500;
  }

  &__toggle {
    display: inline-flex;
    margin-right: var(--margin-xs);
    cursor: pointer;
  }
}

/* Responsive */
@include breakpoint(xxs) {
  .sidebar--active {
    .sidebar__close {
      display: flex;
    }
  }
  .main__wrapper {
    .dropdown {
      flex: 1 0 100%;
    }
  }
}

@include breakpoint(xs) {
  .main__wrapper {
    .dropdown {
      flex: 1 0 50%;
      flex-basis: 40%;
    }
  }
}

@include breakpoint(lg) {
  .main__wrapper {
    .dropdown {
      flex: 25% 1;
      flex-basis: 20%;
    }
  }
}
