.dropdown {
  position: relative;

  .dropdown__label {
    display: block;
    margin-bottom: var(--margin-xxs);
    color: var(--gray-600);
  }

  .hidden {
    display: none;
    visibility: hidden;
  }

  .show {
    display: block;
    visibility: visible;
  }
}

.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: var(--padding-xxs) var(--padding-default);
  color: var(--gray-500);
  background-color: #fff;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  cursor: pointer;

  .dropdown__inner {
    display: flex;
    align-items: center;
  }

  .dropdown__image {
    width: var(--size-md);
    height: var(--size-md);
    margin-right: var(--margin-xs);
    border-radius: 50%;
  }
}

.dropdown--open {
  .dropdown__button {
    outline: 0;
    border: 1px solid var(--blue-600);
    box-shadow: var(--shadow-focus);
  }
}

.dropdown__button:focus {
  outline: none;
}

.dropdown__button--active {
  color: var(--gray-dark);
}

.dropdown__icon {
  width: var(--size-sm);
  height: var(--size-sm);
  margin-left: var(--margin-xxs);
  fill: var(--gray-400);
  transition: transform 0.3s ease;
}

.dropdown--open {
  .dropdown__icon {
    transform: rotate(180deg);
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(var(--size-xs));
  }

  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: var(--padding-xxxs);
  margin-top: var(--margin-xxs);
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  border: 1px solid #e1e2e3;
  border-radius: var(--radius-8);
  box-shadow: var(--shadow);
  list-style: none;

  .dropdown--open & {
    animation-name: fadeInUp;
    animation-duration: 0.2s;
    animation-fill-mode: both;
  }

  .client-id {
    color: var(--gray-400);
  }

  &.default {
    .label {
      flex-grow: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: var(--padding-default);
    }

    .dropdown__item {
      justify-content: space-between;
    }
  }
}

.dropdown__item {
  display: flex;
  align-items: center;
  padding: var(--padding-xs) var(--padding-default);
  border-radius: var(--size-xxxs);
  cursor: pointer;

  &:hover {
    background-color: var(--gray-100);
  }

  .radio {
    position: relative;
    width: var(--size-sm);
    height: var(--size-sm);
    margin-right: var(--margin-xs);
    border: 1px solid var(--gray-400);
    border-radius: 50%;
  }

  &:hover {
    .radio {
      border-color: var(--blue);
    }
  }

  img {
    width: var(--size-lg);
    height: var(--size-lg);
    margin-right: var(--margin-xs);
    border-radius: 50%;
  }
}

.dropdown__color {
  display: block;
  width: var(--size-xs);
  height: var(--size-xs);
  margin-right: var(--margin-xs);
  border-radius: 50%;
}

.dropdown__item--active {
  font-weight: 600;

  .radio {
    position: relative;
    background-color: var(--blue);
    border: 1px solid var(--blue);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: var(--size-xxs);
      height: var(--size-xxs);
      background-color: var(--white);
      border-radius: 50%;
    }
  }
}

.datecustom__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-default) var(--size-s);

  .title {
    font-size: var(--size-default);
    font-weight: 500;
  }

  .btn-back {
    color: var(--blue);
    cursor: pointer;
  }
}

.datecustom__content {
  display: flex;
  column-gap: var(--gutter-lg);
  padding: 0 var(--size-s);

  .datepicker {
    flex-grow: 0 1 50%;
  }

  input {
    width: 100%;
    height: var(--size-xl);
    padding: var(--padding-xxs) var(--padding-default) var(--padding-xxs) var(--padding-xl);
    background-size: var(--size-sm);
    background-image: url(../data/icon-calendar.svg);
    background-position: var(--size-xs);
    background-repeat: no-repeat;
    filter: grayscale(100%);
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: 6px;
    cursor: pointer;

    &:focus-visible {
      outline: 0;
      border: 0 none;
      box-shadow: var(--shadow-focus);
    }
  }
}
.datecustom__footer {
  display: flex;
  gap: var(--gutter-lg);
  padding: var(--size-sm) var(--size-s);
  margin-top: var(--size-sm);
  border-top: 1px solid var(--gray-200);

  .btn {
    flex: 50%;
    padding: var(--size-s);
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-6);
    cursor: pointer;

    &:hover {
      color: var(--white);
      background-color: var(--blue);
      opacity: 0.9;
    }

    &.btn-primary {
      color: var(--white);
      background-color: var(--blue);
    }
  }
}

.datepicker-custom {
  // width: 320px;
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-6);
  font-family: var(--font-primary);
  font-size: var(--size-default);

  .react-datepicker__current-month {
    font-size: var(--size-default);
    font-weight: 600;
  }

  .react-datepicker__triangle {
    &::before,
    &::after {
      content: none !important;
    }
  }

  .react-datepicker__header {
    padding-top: var(--size-default);
    border-bottom: 1px solid var(--gray-200);
    background-color: var(--gray-200);
  }

  .react-datepicker__navigation {
    top: var(--size-xs);
    left: var(--size-xs);

    &.react-datepicker__navigation--next {
      right: var(--size-xs);
      left: auto;
    }

    .react-datepicker__navigation-icon {
      &::before {
        width: var(--size-xs);
        height: var(--size-xs);
        border-color: var(--gray-500);
        border-width: 2px 2px 0 0;
      }
    }
  }

  .react-datepicker__day-name,
  .react-datepicker__day {
    width: var(--size-xl);
    height: var(--size-xl);
    line-height: var(--size-xl);
    border-radius: 50%;
  }

  .react-datepicker__day:hover {
    border-radius: 50%;
  }

  .react-datepicker__day--keyboard-selected {
    border-radius: 50%;
    color: var(--white);
    font-weight: 500;
    background-color: var(--black);
  }

  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--selected {
    border-radius: 50%;
    color: var(--white);
    font-weight: 500;
    background-color: var(--blue);
  }
}
